nexus_n8n_workflow.json
{
  "name": "Nexus Analytics — Ad Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "a1a1a1a1-a1a1-a1a1-a1a1-a1a1a1a1a1a1",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:8000/api/accounts/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-Secret", "value": "={{ $env.N8N_SHARED_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "b2b2b2b2-b2b2-b2b2-b2b2-b2b2b2b2b2b2",
      "name": "Get Active Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c3c3c3c3-c3c3-c3c3-c3c3-c3c3c3c3c3c3",
      "name": "Loop Over Accounts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://googleads.googleapis.com/v17/customers/{{ $('Loop Over Accounts').item.json.google_ads.customer_id }}/googleAds:search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Loop Over Accounts').item.json.google_ads.access_token }}"
            },
            {
              "name": "developer-token",
              "value": "={{ $('Loop Over Accounts').item.json.google_ads.developer_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\": \"SELECT campaign.id, campaign.name, campaign.status, metrics.impressions, metrics.clicks, metrics.cost_micros, metrics.conversions, metrics.conversions_value FROM campaign WHERE segments.date DURING TODAY AND campaign.status = 'ENABLED' ORDER BY metrics.cost_micros DESC LIMIT 50\"}",
        "options": {}
      },
      "id": "d4d4d4d4-d4d4-d4d4-d4d4-d4d4d4d4d4d4",
      "name": "Fetch Google Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 160],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v19.0/act_{{ $('Loop Over Accounts').item.json.meta_ads.account_id }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields",       "value": "campaign_id,campaign_name,impressions,clicks,spend,actions,action_values" },
            { "name": "date_preset",  "value": "today" },
            { "name": "level",        "value": "campaign" },
            { "name": "access_token", "value": "={{ $('Loop Over Accounts').item.json.meta_ads.access_token }}" }
          ]
        },
        "options": {}
      },
      "id": "e5e5e5e5-e5e5-e5e5-e5e5-e5e5e5e5e5e5",
      "name": "Fetch Meta Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 440],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "f6f6f6f6-f6f6-f6f6-f6f6-f6f6f6f6f6f6",
      "name": "Merge Ad Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "jsCode": "const account = $('Loop Over Accounts').first().json;\n\n// ── Google Ads ──────────────────────────────────────────────────────\nconst gaRaw   = $('Fetch Google Ads').first();\nconst gaCamps = (!gaRaw.error && gaRaw.json?.results)\n  ? gaRaw.json.results.map(r => ({\n      campaign_id:   String(r.campaign?.id ?? ''),\n      campaign_name: String(r.campaign?.name ?? ''),\n      status:        String(r.campaign?.status ?? ''),\n      impressions:   Number(r.metrics?.impressions ?? 0),\n      clicks:        Number(r.metrics?.clicks ?? 0),\n      spend:         Number(r.metrics?.costMicros ?? 0) / 1_000_000,\n      conversions:   Number(r.metrics?.conversions ?? 0),\n      revenue:       Number(r.metrics?.conversionsValue ?? 0),\n    }))\n  : [];\n\n// ── Meta Ads ────────────────────────────────────────────────────────\nconst metaRaw   = $('Fetch Meta Ads').first();\nconst metaCamps = (!metaRaw.error && metaRaw.json?.data)\n  ? metaRaw.json.data.map(r => ({\n      campaign_id:   String(r.campaign_id ?? ''),\n      campaign_name: String(r.campaign_name ?? ''),\n      impressions:   parseInt(r.impressions ?? '0', 10),\n      clicks:        parseInt(r.clicks ?? '0', 10),\n      spend:         parseFloat(r.spend ?? '0'),\n      conversions:   (r.actions ?? []).filter(a => a.action_type === 'purchase').reduce((s, a) => s + parseInt(a.value ?? '0', 10), 0),\n      revenue:       (r.action_values ?? []).filter(a => a.action_type === 'purchase').reduce((s, a) => s + parseFloat(a.value ?? '0'), 0.0),\n    }))\n  : [];\n\nreturn [{\n  json: {\n    account_id:   account.account_id,\n    account_name: account.name,\n    fetched_at:   new Date().toISOString(),\n    platforms: {\n      google_ads: {\n        campaigns: gaCamps,\n        connected: account.google_ads?.connected ?? false,\n        error:     gaRaw.error ? String(gaRaw.error) : null,\n      },\n      meta_ads: {\n        campaigns: metaCamps,\n        connected: account.meta_ads?.connected ?? false,\n        error:     metaRaw.error ? String(metaRaw.error) : null,\n      },\n    },\n  },\n}];"
      },
      "id": "g7g7g7g7-g7g7-g7g7-g7g7-g7g7g7g7g7g7",
      "name": "Normalize Ad Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:8000/api/ingest/{{ $json.account_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-Secret", "value": "={{ $env.N8N_SHARED_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "h8h8h8h8-h8h8-h8h8-h8h8-h8h8h8h8h8h8",
      "name": "POST to Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue":  "={{ $json.status }}",
              "rightValue": "ok",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "i9i9i9i9-i9i9-i9i9-i9i9-i9i9i9i9i9i9",
      "name": "Ingest OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconsole.error(`[Nexus] Ingest failed — account: ${item.account_id}`, JSON.stringify(item));\nreturn $input.all();"
      },
      "id": "j0j0j0j0-j0j0-j0j0-j0j0-j0j0j0j0j0j0",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 460]
    },
    {
      "parameters": {},
      "id": "k1k1k1k1-k1k1-k1k1-k1k1-k1k1k1k1k1k1",
      "name": "All Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2020, 160]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [[{ "node": "Get Active Accounts", "type": "main", "index": 0 }]]
    },
    "Get Active Accounts": {
      "main": [[{ "node": "Loop Over Accounts", "type": "main", "index": 0 }]]
    },
    "Loop Over Accounts": {
      "main": [
        [
          { "node": "Fetch Google Ads", "type": "main", "index": 0 },
          { "node": "Fetch Meta Ads",   "type": "main", "index": 0 }
        ],
        [{ "node": "All Done", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Google Ads": {
      "main": [[{ "node": "Merge Ad Results", "type": "main", "index": 0 }]]
    },
    "Fetch Meta Ads": {
      "main": [[{ "node": "Merge Ad Results", "type": "main", "index": 1 }]]
    },
    "Merge Ad Results": {
      "main": [[{ "node": "Normalize Ad Data", "type": "main", "index": 0 }]]
    },
    "Normalize Ad Data": {
      "main": [[{ "node": "POST to Ingest", "type": "main", "index": 0 }]]
    },
    "POST to Ingest": {
      "main": [[{ "node": "Ingest OK?", "type": "main", "index": 0 }]]
    },
    "Ingest OK?": {
      "main": [
        [{ "node": "Loop Over Accounts", "type": "main", "index": 0 }],
        [{ "node": "Log Error",          "type": "main", "index": 0 }]
      ]
    },
    "Log Error": {
      "main": [[{ "node": "Loop Over Accounts", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
