nexus_n8n_stripe_webhook.json
{
  "name": "Nexus Analytics — Stripe Payment Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-webhook",
        "authentication": "none",
        "options": {}
      },
      "id": "a1a1a1a1-a2a2-a3a3-a4a4-a5a5a5a5a5a5",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "nexus-stripe-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Verify this is a real Stripe event and extract what we need\nconst body = $input.first().json.body;\n\nif (!body || !body.type) {\n  throw new Error('Invalid Stripe webhook payload');\n}\n\nconst eventType = body.type;\nconst data      = body.data?.object ?? {};\n\n// Map Stripe event → account status\nconst STATUS_MAP = {\n  'checkout.session.completed':        'active',\n  'customer.subscription.updated':     'active',\n  'customer.subscription.deleted':     'cancelled',\n  'invoice.payment_succeeded':         'active',\n  'invoice.payment_failed':            'inactive',\n};\n\nconst newStatus = STATUS_MAP[eventType] ?? null;\n\nreturn [{\n  json: {\n    event_type:        eventType,\n    stripe_customer_id: data.customer ?? data.customer_id ?? null,\n    subscription_id:   data.subscription ?? data.id ?? null,\n    new_status:        newStatus,\n    should_process:    newStatus !== null,\n    raw_event:         body,\n  },\n}];"
      },
      "id": "b2b2b2b2-b3b3-b4b4-b5b5-b6b6b6b6b6b6",
      "name": "Parse Stripe Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue":  "={{ $json.should_process }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c3c3c3c3-c4c4-c5c5-c6c6-c7c7c7c7c7c7",
      "name": "Relevant Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:8000/api/accounts/by-stripe/{{ $json.stripe_customer_id }}",
        "options": {}
      },
      "id": "d4d4d4d4-d5d5-d6d6-d7d7-d8d8d8d8d8d8",
      "name": "Find Account by Stripe ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 160],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log and discard events we don't act on (refunds, trials, etc.)\nconst item = $input.first().json;\nconsole.log(`[Nexus] Ignoring Stripe event: ${item.event_type}`);\nreturn $input.all();"
      },
      "id": "e5e5e5e5-e6e6-e7e7-e8e8-e9e9e9e9e9e9",
      "name": "Ignore Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue":  "={{ $json.account_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f6f6f6f6-f7f7-f8f8-f9f9-f0f0f0f0f0f0",
      "name": "Account Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 160]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://localhost:8000/api/accounts/{{ $json.account_id }}/subscription",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscription_status\": \"{{ $('Parse Stripe Event').first().json.new_status }}\",\n  \"subscription_id\":     \"{{ $('Parse Stripe Event').first().json.subscription_id }}\",\n  \"updated_at\":          \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "a7a7a7a7-a8a8-a9a9-a0a0-b1b1b1b1b1b1",
      "name": "Update Account Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 60],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const event   = $('Parse Stripe Event').first().json;\nconst account = $('Find Account by Stripe ID').first().json;\n\nconsole.error(\n  `[Nexus] No account found for Stripe customer: ${event.stripe_customer_id}`,\n  `Event: ${event.event_type}`\n);\n\nreturn [{ json: { error: 'account_not_found', stripe_customer_id: event.stripe_customer_id } }];"
      },
      "id": "b8b8b8b8-b9b9-b0b0-c1c1-c2c2c2c2c2c2",
      "name": "Log Missing Account",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue":  "={{ $('Parse Stripe Event').first().json.new_status }}",
              "rightValue": "active",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c9c9c9c9-c0c0-d1d1-d2d2-d3d3d3d3d3d3",
      "name": "Account Just Activated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:8000/api/ingest/trigger/{{ $('Find Account by Stripe ID').first().json.account_id }}",
        "options": {}
      },
      "id": "d4d4d4d4-d5d5-e6e6-e7e7-e8e8e8e8e8e8",
      "name": "Trigger Immediate Data Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const event     = $('Parse Stripe Event').first().json;\nconst accountId = $('Find Account by Stripe ID').first().json.account_id;\n\nconsole.log(\n  `[Nexus] Account ${accountId} status → ${event.new_status} (${event.event_type})`\n);\n\nreturn [{ json: { success: true, account_id: accountId, new_status: event.new_status } }];"
      },
      "id": "e5e5e5e5-e6e6-f7f7-f8f8-f9f9f9f9f9f9",
      "name": "Log Status Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200]
    },
    {
      "parameters": {},
      "id": "f0f0f0f0-f1f1-f2f2-f3f3-f4f4f4f4f4f4",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2000, 100]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [[{ "node": "Parse Stripe Event", "type": "main", "index": 0 }]]
    },
    "Parse Stripe Event": {
      "main": [[{ "node": "Relevant Event?", "type": "main", "index": 0 }]]
    },
    "Relevant Event?": {
      "main": [
        [{ "node": "Find Account by Stripe ID", "type": "main", "index": 0 }],
        [{ "node": "Ignore Event",              "type": "main", "index": 0 }]
      ]
    },
    "Find Account by Stripe ID": {
      "main": [[{ "node": "Account Found?", "type": "main", "index": 0 }]]
    },
    "Account Found?": {
      "main": [
        [{ "node": "Update Account Status", "type": "main", "index": 0 }],
        [{ "node": "Log Missing Account",   "type": "main", "index": 0 }]
      ]
    },
    "Update Account Status": {
      "main": [[{ "node": "Account Just Activated?", "type": "main", "index": 0 }]]
    },
    "Account Just Activated?": {
      "main": [
        [{ "node": "Trigger Immediate Data Fetch", "type": "main", "index": 0 }],
        [{ "node": "Log Status Change",            "type": "main", "index": 0 }]
      ]
    },
    "Trigger Immediate Data Fetch": {
      "main": [[{ "node": "Log Status Change", "type": "main", "index": 0 }]]
    },
    "Log Status Change": {
      "main": [[{ "node": "Done", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "notes": "Paste the webhook URL from this workflow into your Stripe Dashboard under Developers → Webhooks. Events to subscribe: checkout.session.completed, customer.subscription.updated, customer.subscription.deleted, invoice.payment_succeeded, invoice.payment_failed"
  }
}
