nexus_n8n_token_refresh.json
{
  "name": "Nexus Analytics — OAuth Token Refresh",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 45 }]
        }
      },
      "id": "a1a1a1a1-b1b1-c1c1-d1d1-e1e1e1e1e1e1",
      "name": "Every 45 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:8000/api/accounts/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-Secret", "value": "={{ $env.N8N_SHARED_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "b2b2b2b2-c2c2-d2d2-e2e2-f2f2f2f2f2f2",
      "name": "Get Active Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c3c3c3c3-d3d3-e3e3-f3f3-a3a3a3a3a3a3",
      "name": "Loop Over Accounts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue":  "={{ $json.google_ads.connected }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d4d4d4d4-e4e4-f4f4-a4a4-b4b4b4b4b4b4",
      "name": "Has Google Ads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "client_id",     "value": "={{ $env.GOOGLE_CLIENT_ID }}" },
            { "name": "client_secret", "value": "={{ $env.GOOGLE_CLIENT_SECRET }}" },
            { "name": "refresh_token", "value": "={{ $('Loop Over Accounts').item.json.google_ads.refresh_token }}" },
            { "name": "grant_type",    "value": "refresh_token" }
          ]
        },
        "options": {}
      },
      "id": "e5e5e5e5-f5f5-a5a5-b5b5-c5c5c5c5c5c5",
      "name": "Refresh Google Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 160],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pass account through unchanged if Google Ads not connected\nreturn [{ json: $('Loop Over Accounts').first().json }];"
      },
      "id": "f6f6f6f6-a6a6-b6b6-c6c6-d6d6d6d6d6d6",
      "name": "Skip Google Refresh",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 440]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "a7a7a7a7-b7b7-c7c7-d7d7-e7e7e7e7e7e7",
      "name": "Merge Google Result",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "const account      = $('Loop Over Accounts').first().json;\nconst googleResult = $('Refresh Google Token').first();\n\n// Build the PATCH payload — only include fields that changed\nconst updates = {};\n\nif (!googleResult.error && googleResult.json?.access_token) {\n  updates.google_ads_access_token = googleResult.json.access_token;\n  // Google also returns a new expiry in seconds\n  updates.google_ads_token_expires_at = new Date(\n    Date.now() + (googleResult.json.expires_in ?? 3600) * 1000\n  ).toISOString();\n}\n\nreturn [{\n  json: {\n    account_id: account.account_id,\n    updates,\n    has_changes: Object.keys(updates).length > 0,\n  },\n}];"
      },
      "id": "b8b8b8b8-c8c8-d8d8-e8e8-f8f8f8f8f8f8",
      "name": "Build Token Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue":  "={{ $json.has_changes }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c9c9c9c9-d9d9-e9e9-f9f9-a9a9a9a9a9a9",
      "name": "Token Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://localhost:8000/api/accounts/{{ $json.account_id }}/tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-Secret", "value": "={{ $env.N8N_SHARED_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.updates) }}",
        "options": {}
      },
      "id": "d0d0d0d0-e0e0-f0f0-a0a0-b0b0b0b0b0b0",
      "name": "Save New Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 160],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconsole.error(`[Nexus] Token refresh failed — account: ${item.account_id}`);\nreturn $input.all();"
      },
      "id": "e1e1e1e1-f1f1-a1a1-b1b1-c1c1c1c1c1c1",
      "name": "Log Token Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 440]
    },
    {
      "parameters": {},
      "id": "f2f2f2f2-a2a2-b2b2-c2c2-d2d2d2d2d2d2",
      "name": "All Tokens Refreshed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "Every 45 Minutes": {
      "main": [[{ "node": "Get Active Accounts", "type": "main", "index": 0 }]]
    },
    "Get Active Accounts": {
      "main": [[{ "node": "Loop Over Accounts", "type": "main", "index": 0 }]]
    },
    "Loop Over Accounts": {
      "main": [
        [{ "node": "Has Google Ads?", "type": "main", "index": 0 }],
        [{ "node": "All Tokens Refreshed", "type": "main", "index": 0 }]
      ]
    },
    "Has Google Ads?": {
      "main": [
        [{ "node": "Refresh Google Token", "type": "main", "index": 0 }],
        [{ "node": "Skip Google Refresh",  "type": "main", "index": 0 }]
      ]
    },
    "Refresh Google Token": {
      "main": [[{ "node": "Merge Google Result", "type": "main", "index": 0 }]]
    },
    "Skip Google Refresh": {
      "main": [[{ "node": "Merge Google Result", "type": "main", "index": 1 }]]
    },
    "Merge Google Result": {
      "main": [[{ "node": "Build Token Update", "type": "main", "index": 0 }]]
    },
    "Build Token Update": {
      "main": [[{ "node": "Token Changed?", "type": "main", "index": 0 }]]
    },
    "Token Changed?": {
      "main": [
        [{ "node": "Save New Token",  "type": "main", "index": 0 }],
        [{ "node": "Log Token Error", "type": "main", "index": 0 }]
      ]
    },
    "Save New Token": {
      "main": [[{ "node": "Loop Over Accounts", "type": "main", "index": 0 }]]
    },
    "Log Token Error": {
      "main": [[{ "node": "Loop Over Accounts", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
