n8n/nexus_ingestion_workflow.json
{
  "name": "Nexus Analytics - Ad Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "content": "## Google Ads branch\nStructurally wired (IF checks the has_google_token boolean from /accounts/active), but the /accounts/connect flow only ever collects a developer_token today — no OAuth access_token/customer_id is stored anywhere yet. So this branch always takes the False path for now.\n\nWhen wiring the real fetch: follow the Meta pattern (see Scope note) — add a backend endpoint like /api/accounts/{id}/google-snapshot that reads the token server-side and returns only the fetched data, so the token never enters n8n execution data. Do not add a raw google_ads_cred field back onto $json.",
        "height": 260,
        "width": 320
      },
      "id": "sticky_google_note",
      "name": "Sticky Note - Google gap",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2320, 620]
    },
    {
      "parameters": {
        "content": "## Scope note\nMeta data now comes from one call to GET /api/accounts/{id}/meta-snapshot, which runs meta_ads.py's own fetch_* helpers server-side and returns the same shape this workflow used to assemble from 8 separate Graph API nodes. The access token stays on the backend and never enters n8n execution data/logs — see accounts.py's meta_snapshot endpoint.\n\nSkipped: per-campaign device-split breakdown (only powers one secondary drill-down). Add it inside meta_snapshot() if you need it.",
        "height": 220,
        "width": 320
      },
      "id": "sticky_scope_note",
      "name": "Sticky Note - Scope",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [560, -180]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "id": "trigger_schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "https://nexus-analytics-lzbl.onrender.com/api/accounts/active",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http_get_accounts",
      "name": "Get Active Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// GET /api/accounts/active returns a bare JSON array. Depending on n8n version\n// that either lands as one item whose .json IS the array, or is already split\n// into one item per account. Handle both so this is reliable either way.\nconst first = $input.all()[0];\nconst raw = Array.isArray(first.json) ? first.json : $input.all().map(i => i.json);\nreturn raw.map(account => ({ json: account }));"
      },
      "id": "code_split_accounts",
      "name": "Split Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond_meta",
              "leftValue": "={{ Boolean($json.has_meta_token) }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "if_has_meta",
      "name": "Has Meta Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "=https://nexus-analytics-lzbl.onrender.com/api/accounts/{{ $json.account_id }}/meta-snapshot",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http_meta_snapshot",
      "name": "Meta Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 140]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const account = $('Split Accounts').item.json;\nconst snapshot = $json;\n\nreturn {\n  json: {\n    account_id: account.account_id,\n    account_name: account.name,\n    has_google_token: account.has_google_token,\n    meta_ads: {\n      campaigns: snapshot.campaigns || [],\n      ads: snapshot.ads || [],\n      creatives: snapshot.creatives || {},\n      breakdowns: snapshot.breakdowns || [],\n      targeting: snapshot.targeting || [],\n    },\n  },\n};"
      },
      "id": "code_assemble_meta",
      "name": "Assemble Meta Platform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 140]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const account = $json;\nreturn {\n  json: {\n    account_id: account.account_id,\n    account_name: account.name,\n    has_google_token: account.has_google_token,\n    meta_ads: { campaigns: [], ads: [], creatives: {}, breakdowns: [], targeting: [] },\n  },\n};"
      },
      "id": "code_no_meta",
      "name": "No Meta Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond_google",
              "leftValue": "={{ Boolean($json.has_google_token) }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "if_has_google",
      "name": "Has Google Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4200, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ponytail: Google Ads OAuth (access_token/customer_id/login_customer_id) isn't\n// collected anywhere in the connect flow yet (only developer_token is stored),\n// so this branch can't run for real. Wire the GAQL searchStream fetch here once\n// /accounts/connect collects those fields and this IF can actually go true.\nreturn { json: { ...$json, google_ads: { campaigns: [] } } };"
      },
      "id": "code_google_fetch",
      "name": "Google Ads Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4420, 140]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { ...$json, google_ads: { campaigns: [] } } };"
      },
      "id": "code_no_google",
      "name": "No Google Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4420, 460]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nreturn {\n  json: {\n    account_id: item.account_id,\n    account_name: item.account_name,\n    fetched_at: new Date().toISOString(),\n    platforms: {\n      meta_ads: item.meta_ads,\n      google_ads: item.google_ads,\n    },\n  },\n};"
      },
      "id": "code_build_ingest",
      "name": "Build Ingest Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4640, 300]
    },
    {
      "parameters": {
        "url": "=https://nexus-analytics-lzbl.onrender.com/api/ingest/{{ $json.account_id }}",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "http_post_ingest",
      "name": "Post Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4860, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Get Active Accounts", "type": "main", "index": 0 }]] },
    "Get Active Accounts": { "main": [[{ "node": "Split Accounts", "type": "main", "index": 0 }]] },
    "Split Accounts": { "main": [[{ "node": "Has Meta Token", "type": "main", "index": 0 }]] },
    "Has Meta Token": {
      "main": [
        [{ "node": "Meta Snapshot", "type": "main", "index": 0 }],
        [{ "node": "No Meta Data", "type": "main", "index": 0 }]
      ]
    },
    "Meta Snapshot": { "main": [[{ "node": "Assemble Meta Platform", "type": "main", "index": 0 }]] },
    "Assemble Meta Platform": { "main": [[{ "node": "Has Google Token", "type": "main", "index": 0 }]] },
    "No Meta Data": { "main": [[{ "node": "Has Google Token", "type": "main", "index": 0 }]] },
    "Has Google Token": {
      "main": [
        [{ "node": "Google Ads Fetch", "type": "main", "index": 0 }],
        [{ "node": "No Google Data", "type": "main", "index": 0 }]
      ]
    },
    "Google Ads Fetch": { "main": [[{ "node": "Build Ingest Body", "type": "main", "index": 0 }]] },
    "No Google Data": { "main": [[{ "node": "Build Ingest Body", "type": "main", "index": 0 }]] },
    "Build Ingest Body": { "main": [[{ "node": "Post Ingest", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": false
  }
}
